body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

img {
  width: 600px;
  height: auto;
}

button {
  background: #333;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}
